.icon.lupa {
  width: 9px;
  height: 9px;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  position: relative;
  left: 5px;
  top: -3px;
}

.icon.lupa:after {
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: whitesmoke;
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  
  transform: rotate(45deg);
  transform-origin: -2px 6px;
  
}

.menu_bar span{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background-color: #DFE7E9;
  transition:  0.5s;
  right: 7px;

}
.menu_icon1{
  width: 40px;
  height: 7px;
  top: 8px;
}

.menu_icon2{
  top: 21px;
    height: 6px;
    width: 34px;

}

.menu_icon3{
    width: 40px;
  height: 7px;
  top: 34px
}

.container input:checked ~ .menu_bar .menu_icon1{
    background-color: whitesmoke;
    top: 20px;
    height: 5px;
    transform: rotate(135deg);
  
}

.container input:checked ~ .menu_bar .menu_icon2{
    display: none;
  
}

.container input:checked ~ .menu_bar .menu_icon3{
    background-color: whitesmoke;
      top: 20px;
    height: 5px;
      transform: rotate(45deg);

}


@media (min-width: 500px) {
  .icon.lupa {
    width: 12px;
    height: 12px;
    top: -4px;
  }

  .icon.lupa:after {
    width: 90%;
      
  }
}